<div>
  <ul>
    <li><a href="/home">ホーム</a></li>
    <% if (user && user !=='error' ) { %>
      <li><a href="/logout">ログアウト</a></li>
      <% } %>
        <li><a href="/user">ユーザー画面</a></li>
  </ul>
</div>