<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ホーム画面</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script>
    var baseUrl = '<%= baseUrl %>';
  </script>
  <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.9/ejs.min.js"></script>
  <script src="/login.js"></script>
  <script src="/templates.js"></script>
</head>

<body>
  <div>
    <%- include('base', {user: user}) %>
      <main>
        <h2>ログインして下さい</h2>
        <input type="text" id="username" placeholder="メールアドレス">
        <input type="password" id="password" placeholder="パスワード">
        <div>
          <button onclick="submitForm()">ログイン</button>
        </div>
        <div id="CLIENT_SIDE_RENDER"></div>
      </main>

      <%- include('loginmsg', {user: user}) %>

  </div>
</body>

</html>