<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ホーム画面</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script>
    var baseUrl = '<%= baseUrl %>';
  </script>
  <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.9/ejs.min.js"></script>
  <script src="/login.js"></script>
  <script src="/templates.js"></script>
</head>

<body>
  <div>
    <div>
      <ul>
        <li><a href="/home">ホーム</a></li>
        <% if (typeof current_user !=='undefined' && current_user.is_authenticated) { %>
          <li><a href="/logout">ログアウト</a></li>
          <% } %>
            <li><a href="/user">ユーザー画面</a></li>
      </ul>
    </div>
    <main>
      <h2>ログインして下さい</h2>
      <input type="text" id="username" placeholder="username">
      <input type="password" id="password" placeholder="Password">
      <div>
        <button onclick="submitForm()">ログイン</button>
      </div>
      <div id="CLIENT_SIDE_RENDER"></div>
    </main>
  </div>
</body>

</html>