<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ホーム画面</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div>
    <div>
      <ul>
        <li><a href="/home">ホーム</a></li>
        <% if (typeof current_user !=='undefined' && current_user.is_authenticated) { %>
          <li><a href="/logout">ログアウト</a></li>
          <% } %>
            <li><a href="/user">ユーザー画面</a></li>
      </ul>
    </div>
    <h1>ユーザー画面</h1>
    <p>
      <%= user.username %>
    </p>
    <p>
      <%= user.email %>
    </p>
  </div>
</body>

</html>